<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>373967091252-5k62fl1g9smmng8an1ik5okh08ul7c8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373967091252-5k62fl1g9smmng8an1ik5okh08ul7c8s</string>
	<key>API_KEY</key>
	<string>AIzaSyBmSN9N-TIn5bUIj143pZCwm8i0QsDEalo</string>
	<key>GCM_SENDER_ID</key>
	<string>373967091252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medkitcare</string>
	<key>PROJECT_ID</key>
	<string>fir-app-4fb10</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-4fb10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373967091252:ios:1a2e42d99ca13a61ad3c61</string>
</dict>
</plist>